@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.main{
    display: grid;
    box-sizing: border-box;
    margin-top: 1rem;
    width: 100%;
    
}

.titles{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

section h1{
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 2rem;
    font-weight: 900;
    text-shadow: 1px 1px 2px rgba(8, 60, 169, 0.8);
    color: rgba(8, 60, 169, 0.8);
}

#LayerCurve2-divider-bottom
{
   overflow: hidden;
   line-height: 0;
   bottom: 0;
   left: 0;
   width: 100%;
   height: 50px;
   background-color: #fff;
}
#LayerCurve2-divider-bottom svg
{
   display: block;
   width: 100%;
   height: 100%;
   position: relative;
   left: 50%;
   transform: translateX(-50%); 
}

/*NAVBAR*/

.navbar{
    height: 80px;
    background-color: #fff;
    color: #262525;
    font-weight: 600;
    display: flex;
    position: sticky;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    top: 0;
    z-index: 999;
    width: 100%;
    box-shadow: 0px 1px 10px grey;
}

.navbar_container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 70%;
}

#navbar-logo{
    background-color: #000;
    background-image: linear-gradient(to top, #006400 0%, #7cfc00 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 2rem;
    cursor: pointer;
    z-index: 999;
}

#navbar-logo img{
    height: 3vw;
}

.navbar_menu a{
    font-size: 1.2vw;
    padding: .7rem .5rem;
    color: rgba(57, 54, 78, 1);
    font-weight: 900;
    box-shadow: 1px 3px 2px rgba(57, 54, 78, 0.2);
    transition: all .5s ease-in-out;
}

.navbar_menu a:link{
    color: rgba(57, 54, 78, 1);
}

.navbar_menu a:visited{
    color: rgba(57, 54, 78, 1);
}

.navbar_menu li:last-child a{
    color: #fff;
    font-size: 1vw;
}

.navbar_menu{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar_menu li:last-child{
    background: linear-gradient(to right, rgba(8, 60, 169, 0.8) 50%, rgba(0, 148, 212, 0.8) 50%);
    background-size: 200% 100%;
    background-position: right;
    display: flex;
    align-items: center;
    transition: all  ease-in-out 0.5s;
    margin-left: .8vw;
    width: max-content;
}

.navbar_menu li:last-child:hover{
    background-position: left;
}

.navbar_item{
    margin-right: 0.5rem;
    transition: all .5s ease-in-out;
}

.navbar_item:hover{
    margin-top: .7rem;
    margin-left: .1rem;
}

.navbar_item a:hover{
    box-shadow: 3px 9px 6px rgba(57, 54, 78, 0.2);
    background-color: rgba(0, 148, 212, 0.4);
}

.navbar_contact{
    align-items: center;
    list-style: none;
    text-align: center;
    font-size: 0.8rem;    
    line-height: 100%;
}

.navbar_contact ul{
    padding: 0.2rem 0;
    display: flex;
    line-height: 2.2;
}

.navbar_language, .navbar_phone, .navbar_social{
    display: flex;
    list-style: none;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.navbar_language_item, .navbar_phone_item, .navbar_social_item{
    padding: 0 1rem;
    display: flex;
    align-items: center;
}

.navbar_item_link, .navbar_contact_item{
    text-decoration: none;
}


.navbar_phone_item svg{
    width: .7vw;
    fill: #39364E;
    margin-right: 3px;
}

.navbar_phone_item a{
    font-size: .8vw;
    align-items: center;
    display: flex;
    box-shadow: 2px 2px 5px rgba(57, 54, 78, 0.2);
    padding: 0px .5rem;
    border-radius: 10px;
}

.navbar_phone_item a:link{
    text-decoration: none;
    color: #39364E;
}

.navbar_social img{
    width: 1.5vw;
}

/*CAROUSEL section*/

.main_main{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    align-items: center;
}

.main_hatem{
    margin-top: 3rem;
    width: 30vw;
    float: left;
    position: absolute;
}

.main_hatem ul{
    list-style-type: none;
    margin-right: 2vw;
}

.main_hatem h4:first-child{
    color: #fff;
    border-radius: 20px;
    padding: 0 1rem;
    background-color: rgba(0, 148, 212, 0.8);

}

.main_hatem h4:last-child{
    width: max-content;
    border-radius: 20px;
    color: #fff;
    margin-left: 4.2rem;
    padding: 0 1rem;
    background-color: rgba(8, 60, 169, 0.8);
    position: relative;
}

.main_hatem .hatem_baslik{
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    color: rgba(57, 54, 78, 1);
    font-weight: 100;
    font-size: 2rem;
}

.main_hatem .hatem_baslik h2{
    font-weight: 900;
}

.main_hatem .hatem_baslik span{
    color: rgba(0, 148, 212, 0.8);
}

.main_hatem .hatem_content p{
    color: rgb(103, 119, 153);
    font-size: 1.2rem;
    position: relative;
    font-weight: 600;
}

.main_hatem .bizeUlasin{
    width: max-content;
    background: linear-gradient(to right, rgba(8, 60, 169, 0.8) 50%, rgba(0, 148, 212, 0.8) 50%);
    background-size: 200% 100%;
    background-position: right;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    transition: all  ease-in-out 0.5s;
}

.main_hatem .bizeUlasin:hover{
    background-position: left;
}

.main_hatem .bizeUlasin p{
    font-size: 1.1rem;
    font-weight: 900;
    color: #fff;
    margin-right: 0.3rem;
}

.main_hatem .bizeUlasin svg{
    width: 1rem;
    fill: #fff;
}

.main_hatem .bizeUlasin a{
    text-decoration: none;
    padding: 1rem 1.5rem;
}

.main_carousel{
    max-height: fit-content;
    width: 38vw;
    position: relative;
    margin-bottom: 5vh;
    float: right;

}

.main_carousel ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.slide img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: fill;
    object-position: center;
    border-radius: 15px;
    width: 35vw;
    height: 50vh;

}

.main_carousel ul{
    position: relative;
}

.main_carousel .slide{
    width: 100%;
    clip-path: circle(0% at 0 50%);
    -webkit-clip-path: circle(0% at 0 50%);
    transition: 2s;
}

.main_carousel .slide.active2{
    position: absolute;
    clip-path: circle(150% at 0 50%);
    -webkit-clip-path: circle(150% at 0 50%);
    transition: 2s;
    transition-property: clip-path;
}

.main_carousel_button.active2{
    background: #2696E9;
    box-shadow: 0 0 2px rgba(0, 0, 0, .5);
    transition: all 1s;
}

.main_carousel_btn_section{
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    display: flex;
    position: absolute;
}

.main_carousel_button{
    background: rgba(255, 255, 255, .5);
    height: 12px;
    width: 12px;
    margin: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.main_carousel_text{
    position: absolute;
    z-index: 9;
}

.main_carousel_text ul{
    display: block;
    grid-template-columns: auto;
    margin-top: 12vh;
}

.main_carousel_text li{
    margin-bottom: 2vh;
    width: max-content;
    margin-left: 5vw;
}

.main_carousel_text li:first-child{
    margin-left: 15vw;
}

.main_carousel_text li:last-child{
    margin-left: 10vw;
}

.carousel_text{
    opacity: 0;
    font-size: 2vw;
    font-style: italic;
    font-weight: 100;
    color: rgba(255, 255, 255, 0.8);
    /* background-color: rgba(51, 169, 221, .2); */
    padding: 0 1rem 0 0;
    border-radius: 20px;
}

@keyframes mymove{
    0% {opacity: 0;}
    25% {opacity: 1;}
    50% {opacity: 1;}
    75% {opacity: 1;}
    100% {opacity: 0;}
}

.carousel_text_active{
    animation: mymove 2s ease-in-out;
    z-index: 99;
}


/*ABOUT US section*/


.main_about{
    margin-top: 0rem;
    background-color: rgba(8, 60, 169, 0.1);  
    padding-bottom: 4rem;
}

.main_about div{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}


.main_about ul{
    float: left;
    width: 36vw;
    list-style-type: none;
    margin-top: 0px;
}

.main_about li{
    margin-bottom: 2rem;
    align-items: center;
    box-shadow: 2px 2px 5px grey;
    padding: .2rem .2rem;
    background-color: #fff;
}

.main_about video{
    float: right;
    width: 28vw;
    height: 57vh;
    border-radius: 20px;
}


.main_about ul svg{
    float: left;
    width: 3.5rem;
    margin-right: 2rem;
    fill: #fff;
    margin-top: .5rem;
    fill: rgba(0, 148, 212, .6);
}

.main_about ul h2{
    background-image: linear-gradient(to right, rgba(57, 54, 78, 1) 50%, #E6EBF6 50%);
    background-size: 200% 100%;
    animation: mymove2 5s ease-in-out infinite;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    background-position: right;
    margin-bottom: 3rem;
    font-size: 2rem;
}

.main_about p{
    color: rgb(103, 119, 153);
    font-weight: 900;
    font-size: 1.2rem;
}

.main_about ul div{
    margin-left: 3.5rem;
    display: grid;
}

.main_about ul h3{
    margin-bottom: 1rem;
    color: rgba(57, 54, 78, .8);
    font-weight: 900;
    font-size: 1.6rem;
}

@keyframes mymove2{
    0% {background-position: right;}
    25% {background-position: left;}
    50% {background-position: left;}
    75% {background-position: left;}
    100% {background-position: left;}
}



/*OUR SERVICES section*/

.main_services{
    margin-top: 2rem;
    background-color: #fff;
    padding-bottom: 1rem;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.main_services ul{
    list-style-type: none;
    display: grid;
    grid-template-columns: auto;
    margin-top: 1rem;
    padding-top: 2rem;
}


.main_services li{
    background-color: #fff;
    width: 100%;
    height: 56vh;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 20px #aaaaaa;
    margin-bottom: 3rem;
}

.main_services li p{
    font-weight: 100;
}

.main_services div{
    float: left;
    width: 25vw;
    margin-top: 5rem;
    margin-left: 1vw;
    margin-right: 1vw;
}

.main_services h5{
    color: rgba(8, 60, 169, 0.8);
    margin-bottom: 1rem;
}

.main_services h5 span{
    color: rgba(0, 148, 212, 0.8);
}

.main_services h2{
    margin-bottom: 1.5rem;
}

.main_services p{
    color: rgb(103, 119, 153);
    font-size: 1.2rem;
}

.main_services img{
    float: right;
    width: 40vw;
    height: 56vh;
    margin: 0rem;
    border-radius: 5px;
    object-fit: fill;
}

.main_services .koltuk img{
    float: left;
}

.main_services .koltuk div{
    float: right;
}


/*GALLERY section*/

.main_galery{
    background-color: rgba(8, 60, 169, 0.1);
}

.main_galery .main_galery_content{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.main_galery ul{
    list-style-type: none;
    display: grid;
    grid-template-columns: auto auto;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5rem;
}

.main_galery .comparision{
    position: relative;
    width: 500px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;

}

.main_galery .img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: 500px 100%;
}

.main_galery .background-img{
    background-image: url("https://www.hatemhali.com/imgs/hatemHaliOneAfter.png");
}

.main_galery .foreground-img{
    background-image: url("https://www.hatemhali.com/imgs/hatemHaliOneBefore2.jpeg");
    width: 50%;
}

.main_galery .background-img2{
    background-image: url("https://www.hatemhali.com/imgs/hatemHaliTwoAfter.jpeg");
}


.main_galery .foreground-img2{
    background-image: url("https://www.hatemhali.com/imgs/hatemHaliTwoBefore.jpeg");
    width: 50%;
}

.main_galery .slider{
    position: absolute;
    /* -webkit-appearance: none;
    appearance: none; */
    width: 100%;
    height: 100%;
    background: rgba(#f2f2f2, .3);
    outline: none;
    margin: 0;
    transition: all .2s;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.main_galery .slider:hover{
    background: rgba(#f2f2f2, .1);
}

.main_galery input::-webkit-slider-thumb{
    /* -webkit-appearance: none;
    appearance: none; */
    width: 6px;
    height: 600px;
    background: #fff;
    cursor: col-resize;
}

.main_galery .slider-button{
    pointer-events: none;
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
    left: calc(50% - 18px);
    top: calc(50% - 18px);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 33;
}

.main_galery .slider-button2{
    pointer-events: none;
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
    left: calc(50% - 18px);
    top: calc(50% - 18px);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 33;
}

.main_galery .slider-button::after{
    content: '';
    padding: 5px;
    display: inline-block;
    border: solid #5D5D5D;
    border-width: 0 2px 2px 0;
    transform: rotate(-45deg);
}

.main_galery .slider-button:before{
    content: '';
    padding: 5px;
    display: inline-block;
    border: solid #5D5D5D;
    border-width: 0 2px 2px 0;
    transform: rotate(135deg);
}


.main_galery .slider-button2::after{
    content: '';
    padding: 5px;
    display: inline-block;
    border: solid #5D5D5D;
    border-width: 0 2px 2px 0;
    transform: rotate(-45deg);
}

.main_galery .slider-button2:before{
    content: '';
    padding: 5px;
    display: inline-block;
    border: solid #5D5D5D;
    border-width: 0 2px 2px 0;
    transform: rotate(135deg);
}



.main_galery .vertical-line{
    width: 5px;
    height: 500px;
    opacity: 22;
    position: relative;
    left: calc(50% - 5px);
    background-color: #fff;
    pointer-events: none;
}

.main_galery .vertical-line2{
    width: 5px;
    height: 500px;
    opacity: 22;
    position: relative;
    left: calc(50% - 5px);
    background-color: #fff;
    pointer-events: none;
}


/*CONTACTS section*/

.main_contact{
    margin-top: 2vh;
    background-color: #fff;
    width: 70%;
    margin-left: auto;
    margin-right: auto;

}

.main_contact ul{
    list-style-type: none;
    display: grid;
    grid-template-columns: auto auto auto auto;    
}

.main_contact li{
    width: 15vw;
    height: 30vh;
    background-color: rgba(8, 60, 169, 0.3);
    margin-top: 1rem;
    transition: ease-in-out 0.2s;
    border-radius: 1rem;
    text-align: center;
}

.main_contact h3{
    margin-top: 1vh;
    text-align: center;
    font-size: 2rem;
}

.main_contact svg{
    width: 4rem;
    height: 4rem;
    margin-top: 2vh;
    background-color: #fff;
    padding: .7rem;
    border-radius: 50%;
}

.main_contact p{
    margin-top: 1vh;
    text-align: center;
    border-radius: 1rem;
    width: 10vw;
    margin: auto;
    margin-top: 2vh;
    font-size: 1.1rem;
}

.main_contact .phone{
    font-size: .8vw;
    font-weight: 900;
    background-color: #fff;
    padding: 0.5vw 0.5vw;
}

.main_contact .adres{
    font-size: 1vw;
}

.main_contact li div{
    position: relative;
}

.main_contact .tikla{
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    font-size: .8vw;
    font-weight: 900;
    background-color: #fff;
    padding: 0.5vw 0.5vw;
    top: 0;
    animation: clickMe 6s linear 1s infinite;
    opacity: 0;
}

.main_contact a:link{
    color: #003366;
    text-decoration: none;
}

.main_contact a:visited{
    color: #003366;
}

.main_contact li:hover{
    margin-top: 0px;
}

@keyframes clickMe {
    0% {opacity: 0;}
    20% {opacity: 0;}
    40% {opacity: 1;}
    60% {opacity: 1;}
    80% {opacity: 0;}
    100% {opacity: 0;}
}

@media screen and (max-width: 960px){
    
}

/*FOOTER*/

footer{
    width: 100%;
    background-color: #083CA9;
    height: 22rem;
    margin-top: 5rem;
    position: relative;
}

footer div{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

footer ul{
    margin-top: 3rem;
    position: absolute;
    list-style-type: none;
    width: 70%;
    
}

footer li:last-child{
    float: right;
}

footer li{
    float: left;
    margin-right: 3.6vw;
}

footer .foot-logo img{
    height: 3.6vw;
    object-fit: contain;
    border-radius: 1rem;
}

footer a{
    color: #fff;
    font-size: 1vw;
}

footer a h3:hover{
    color: #0094D4;
}

footer a:link{
    text-decoration: none;
    font-weight: 900;
}

footer a:visited{
    text-decoration: none;
}

footer p{
    color: #fff;
    margin-top: 1rem;
    width: 20vw;
    font-size: .8vw;
}

footer h3{
    color: #fff;
    font-size: 1vw;
    margin-bottom: 0.5rem;
    font-weight: 900;
    transition: ease-in-out 0.2s;
}

footer a:first-child h3{
    font-size: 1.2vw;
    margin-bottom: 0.7rem;
}

.iletisim svg{
    width: 1.6vw;
    color: #fff;
}

.iletisim div{
    display: grid;
    grid-template-columns: auto auto;
    width: 10vw;
}

.foot-hizmet a:first-child h3{
    font-size: 1.2vw;
    margin-bottom: 0.7rem;
}

footer .foot-social{
    width: max-content;
}

footer .foot-social img{
    width: 2.2vw;
}

footer .foot-social a{
    margin-right: 0.8vw;
}

footer .iletisim div{
    margin-bottom: 1rem;
    align-items: center;
}

footer .iletisim svg{
    margin-right: .5rem;
}

#topButton{
    position: fixed;
    bottom: 1rem;
    right: -3rem;
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 50%;
    background-color: #66BFE5;
    z-index: 99;
    border: none;
    transition: all 1s ease-in-out;
    opacity: 0;
    
}

#topButton svg{
    fill: #39364E;
    width: 2.5rem;
    padding: .5rem;
}

#topButton:hover{
    cursor: pointer;
}

#whatsAppUlas{
    position: fixed;
    bottom: 1rem;
    left: 2rem;
    z-index: 99;
    align-items: center;
}

#whatsAppUlas a{
    float: left;
}

#whatsAppUlas p{
    float: left;
    width: max-content;
    background-color: #fff;
    padding: .2rem .4rem;
    border-radius: 10px;
    font-size: .75rem;
    text-align: center;
    align-items: center;
    vertical-align: center;
}

#whatsApp img{
    width: 5rem;
}

.designedByContent{
    width: 100%;
}

.designedBy{
    text-align: center;
    position: absolute;
    bottom: 5px;

    color:#fff;
}

@media screen and (max-width:960px){
    html{
        font-size: 12px;
    }
    
    
    /* NAVBAR RESPONSIVE */
    
    #navbar-logo img{
        width: 30vw;
        padding-left: 25px;
        height: 3rem;
    
    }
    .navbar_contact{
        width: 100%;
        position: relative;
        margin-right: 10vw;
    }
    .navbar_container{
        display: flex;
        width: 100%;
        max-width: 1440px;
        justify-content: space-between;
        z-index: 1;
        height: 80px;
        padding: 0;
    }
    
    .navbar_menu{
        padding-top: 1vh;
        display: grid;
        width: 100%;
        grid-template-columns: auto;
        position:absolute;
        background-color: #131313;
        z-index: -1;
        height: max-content;
        top: -1000px;
        transition: all 0.7s ease-in-out;
        opacity: 0;
        margin: 0;
    }
    
    .navbar_menu a{
        font-size: 3vw;
    }
    
    .navbar_menu li:last-child a{
        font-size: 3vw;
    }
    
    .navbar_item{
        margin-bottom: 1rem;
    }
    
    .navbar_phone_item svg{
        width: 1.2rem;
    }
    
    .navbar_phone_item a{
        font-size: 1.2rem;
        margin-bottom: 1vh;
    }
    
    .navbar_social img{
        width: 1.7rem;
    }
    
    .navbar_menu.active a{
        color: rgba(0, 148, 212, 0.8);
    }
    
    .navbar_menu.active{
        background: #131313;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: max-content;
        font-size: 1.2rem;
    }
    
    .navbar_toggle{
        cursor: pointer;
        padding: 0;
    }
    
    .navbar_toggle .bar{
        width: 25px;
        height: 3px;
        margin: 5px auto;
        background: #000; 
        display: block;
        padding: 0;
    }
    
    #mobile-menu{
        position: absolute;
        z-index: 99;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }
    .bar{
        transition: all 0.5s ease-in;
    }
    
    #mobile-menu.is-active .bar:nth-child(2){
        opacity: 0;
    }
    
    #mobile-menu.is-active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
        transition: transform 0.5s ease-in;
    
    }
    
    #mobile-menu.is-active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
        transition: transform 0.5s ease-in;
    }
    
    /* CAROUSEL section RESPONSIVE */
    
    .slide img{
        width: 100%;
        height: 600px;
        object-fit: fill;
    }
    
    .main_carousel{
        display: none;
    }
    
    .main_main{
        width: 98%;
        height: 50vh;
    }
    
    .main_hatem{
        width: 100%;
    }
    
    /* ABOUT US section RESPONSIVE */
    
    .main_about{
        width: 100%;
        font-size: 8px;
        text-align: center;
    }
    
    .main_about div{
        width: 98%;
    }
    
    .main_about ul{
        width: 98%;
        display: block;
        float: none;
    }
    
    .main_about li div{
        width: 75vw;
    }
    
    .main_about video{
        display: inline-block;
        float: none;
        margin-top: 1rem;
        width: 100%;
        height: 44vh;
        width: 80vw;
    }
    
    
    /* SERVICES section RESPONSIVE */
    
    .main_services{
        width: 98%;
    }
    
    .main_services div{
        float:none;
    }
    
    .main_services li{
        width: 98%;
        position: relative;
        height: fit-content;
    }
    
    .main_services div{
        width: 98%;
        padding: 0 1vh;
        margin-top: 3rem;
    }
    
    .main_services img{
        margin-top: 2vh;
        width: 100%;
        height: 25vh;
        float: none;
        bottom: 1rem;
        padding: 0 1rem;
    
    }
    
    .main_services .koltuk img{
        float: none;
        padding: 0 1rem;
    }
    
    
    .main_services .koltuk div{
        float: none;
    }
    
    /* GALERY section RESPONSIVE */
    
    .main_galery{
        width: 100%;
    }
    
    .main_galery .main_galery_content{
        width: 100%;
    }
    
    .main_galery ul{
        grid-template-columns: auto;        
    }
    
    .main_galery .comparision{
        width: 80vw;
        height: 40vh;
        margin-bottom: 3rem;
    }
    
    .main_galery .vertical-line{
        height: 40vh;
    }
    
    .main_galery .vertical-line2{
        height: 40vh;
    }
    
    .main_galery .img{
        object-fit:fill;
        background-size: 80vw 100%;
    }
    
    /* CONTACT section RESPONSIVE */
    
    .main_contact ul{
        grid-template-columns: auto;
    }
    
    .main_contact li{
        margin-left: auto;
        margin-right: auto;
        width: 50vw;
        text-align: center;
        height: 25vh;
    }
    
    .main_contact .phone{
        font-size: 3vw;
    }
    
    .main_contact .tikla{
        font-size: 3vw;
    }
    
    .main_contact .adres{
        font-size: 3.2vw;
    }
    
    .main_contact p{
        margin-top: 2vh;
    
        width: 40vw;
        
    }
    
    .main_contact li:hover{
        margin-top: 1rem;
    }
    
    
    /* FOOTER RESPONSIVE */
    
    footer {
        height: 55vh;
    }
    
    footer div{
        width: 100%;
    }
    
    footer ul{
        width: 100%;
    }
    
    footer p{
        display: none;
    }
    
    footer li:first-child{
        width: 100%;
        text-align: center;
        float: none;
        height: max-content;
        margin-bottom: 2rem;
    }
    
    footer .foot-logo img{
        width: 20rem;
        height: 4.5rem;
    }
    
    footer .foot-menu a h3{
        font-size: 1.2rem;
    }
    
    footer .foot-menu a:first-child h3{
        font-size: 1.5rem;
    }
    
    footer .foot-hizmet h3:first-child{
        font-size: 1.5rem;
    }
    
    footer .foot-hizmet h3{
        font-size: 1.2rem;
    }
    
    footer li{
        float: left;
        width: fit-content;
        margin-left: 2vw;
        display: block;
        height: 12rem;
        margin-bottom: 1rem;
    }
    
    footer li:last-child{
        float: left;
    }
    
    #whatsAppUlas{
        bottom: .9rem;
        left: .9rem;
    }
    
    #whatsApp img{
        width: 4.2rem;
    }
    
    footer a{
        font-size: 1.2rem;
    }
    
    .iletisim svg{
        width: 2rem;
    }
    
    .iletisim div{
        width: 11rem;
    }
    
    footer .foot-social img{
        width: 3rem;
    }
    
    footer li{
        margin-right: 4rem;
    }
    
    footer .foot-social a{
        margin-right: 1rem;
    }
}